*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.row {
    display: flex;
}

.main {
    flex-direction: column;
    align-items: center;
}

.reset {
    margin-left: 5em;
}

.draw-area {
    display: grid;
    margin: 0 auto;
    border: 1px solid red;
    width: fit-content;
}

.box {
    background: #fff;
}

.colored { 
    background: #000;
}
